*{
    margin: 0;
    padding: 0;
}
img{
    display: block;
}
.headerwrap{
    width: 100%;
    height: 91px;
    background-color: #fff;
    .header{
        overflow: hidden;
        width: 1200px;
        height: 91px;
        margin: 0 auto;
        img{
            width: 108px;
            height: 48px;
            margin-top: 24px;
        }
        .pcbar__bd__btn {
            float: right;
            display: block;
            margin-top: 24px;
            width: 121px;
            height: 38px;
            line-height: 38px;
            overflow: hidden;
            text-align: center;
            border: 1px solid #ebebeb;
            font-size: 14px;
            color: #888;
            text-decoration: none;
        }
    }
}