*{
    margin: 0;
    padding: 0;
}
img{
    display: block;
}
.test{
    width: 10px;
    height: 2000px;
}
.right_nav{
    width: 82px;
    height: 214px;
    // background-color: lightblue;
    position: fixed;
    right: 10px;
    top: 58%;
    .r1{
        width: 82px;
        height: 72px;
        img{
            width: 32px;
            height: 32px;
            margin: 10px auto 0px;
        }
        p{
            line-height: 33px;
            font-size: 12px;
            margin: 0px;
            text-align: center;
        }
        &:hover{
            color: #ff1268;
        }
    }
    .r2{
        position: relative;
        .r2i{
            width: 42px;
            height: 17px;
            margin: 10px auto 0px;
        }
        p{
            line-height: 33px;
            font-size: 12px;
            margin: 0px;
            text-align: center;
        }
        .r2_show{
            position: absolute;
            left: -100px;
            top: -20px;
            width: 82px;
            height: 72px;
            display: none;
        }
        &:hover{
            color: #ff1268;
        }
        &:hover .r2_show{
            display: block;
        }
    }
    .r3{
        display: none;
        img{
            width: 29px;
            height: 25px;
            margin: 10px auto 0px;
        }
        p{
            line-height: 33px;
            font-size: 12px;
            margin: 0px;
            text-align: center;
        }
        &:hover{
            color: #ff1268;
        }
    }
}